/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import "compass/reset";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";

$dark-gray: #333;

body {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 72px;
    background-image: url('../img/background.jpg');
    color: $dark-gray;
}

h1#title {
    color: white;
    text-align: center;
    @include text-shadow(-2px 0 black, 0 2px black, 2px 0 black, 0 -2px black);
}

div#player1 {
    float: left;
    opacity: 0.8;
}

div#player2 {
    float: right;
    opacity: 0.8;
}

#task {
    text-align: center;
}

#tv-screen {
    background-image: url('../img/tv-screen.png');
    height: 419px;
    width: 622px;
    margin: 0 auto;
    clear: both;
    text-align: center;

    #screen-content {
        height: 346px;
        width: 572px;
        position: relative;
        top: 23px;
        left: 21px;
        background-color: $dark-gray;
    }
}

.small-text {
    font-size: 42px;
}
